<%= link_to edit_delivery_path(delivery), class: 'delivery' do %>
  <h2><%= delivery.quantity %>kg</h2>
  <p><%= delivery.observation %></p>
<% end %>
<%= link_to t('common.delete'), delivery_path(delivery), data: {
  turbo_method: :delete,
  turbo_confirm: t('common.confirm')
} %>
